main{
    justify-content: space-evenly;
}

.text_container{
    width: max(40%, 350px);
    height: min(700px, 120vw);
    padding-top: min(50px, 5vw);
    display: flex;
    flex-direction: column;
    gap: 3em;;
    color: var(--text_white);
}

.text_container h6{
    font-size: min(2.3vw, 18px);
    font-weight: 600;
    background: linear-gradient(45deg, var(--red_grad_start), var(--red_grad_end));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text_container h1{
    font-size: min(7vw, 52px);
    font-weight: 300;
    color: var(--text_white);
}

.text_container .red-title{
    font-weight: 800;
    background: linear-gradient(45deg, var(--red_grad_start), var(--red_grad_end));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text_container p{
    font-size: min(2vw, 16px);
    font-weight: 300;
    line-height: 2em;
}

button{
    width: min(20vw, 160px);
    padding: 1em;
    border-radius: 40px;
    font-size: min(1.8vw, 14px);
    font-weight: 500;
    color: var(--text_white);
    background: linear-gradient(45deg, var(--red_grad_start), var(--red_grad_end));
}
button:hover{
    color: var(--middle_purple_grad_start);
    cursor: pointer;
}

.button_container{
    justify-content: start;
    gap: 4%;
}

.button_container .link{
    width: 45%;
    height: min(20px, 5vw);
}

.button_container .link a{
    font-size: min(1.8vw, 14px);
    width: min(8vw, 160px);
    font-weight: 400;
    color: var(--text_white);
    border-bottom: 1px solid var(--text_white);
}

.img_container{
    width: max(49%, 450px);
    padding-top: 50px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-self: end;
}

.img_box{
    width: 100%;
    position: relative;
    height: inherit;
}

.img_container .big_dog{
    width: 100%;
}

.img_container .dog1{
    position: absolute;
    bottom: 110%;
    left: 22%;
    width: min(20%, 86px);
}

.img_container .dog2{
    position: absolute;
    bottom: 80%;
    left: 10%;
    width: min(17%, 69px);
}

.img_container .dog3{
    position: absolute;
    bottom: 100%;
    left: 60%;
    width: min(19%, 80px);
}

.img_container .dog4{
    position: absolute;
    bottom: 90%;
    left: 88%;
    width: min(15%, 52px);
}

.img_container .dog5{
    position: absolute;
    bottom: 20%;
    left: 1%;
    width: min(16%, 58px);
}